:root {
  --blob-size: 250px;
}

.profile-pic-container {
  width: var(--blob-size);
  height: var(--blob-size);
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  animation: var(--blob-animation), slide-from-right 0.5s linear;
  overflow: hidden;
}

.profile-pic-container .profile-pic {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
